.avatar {
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.avatar-container {
  margin-right: 10px;
}

.avatar:hover .img-description {
  visibility: hidden;

}

.img-description {
  bottom: 0;
  display: inline-block;
  visibility: hidden;
}

