body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.main-box {
 
  width : 80%;
  margin:auto;
  border-radius: 0.2% ;
  border : 1px solid #d0d0d0;
  overflow-x : auto;
}
.page-container {
  margin-left: auto;
  width:fit-content;
  margin-right: 10px;
  margin-bottom: 10px;
}

.page-container > input {
  width: 30px;
  height: 30px;
  padding : 0;
  border-radius: 5px;
  border : 1px solid #eee;
  text-align: center;
  outline: none;
}

.arrow-btn {
  width:30px;
  height :30px;
  border:none;
  border-radius: 5px;
  color:white;
  background-color: #FA7328;
}

.tab-container {
  width: 100%;
  
}
.tab-outer {
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  white-space: nowrap;
}
.tab-inner-container {
  background-color: #eee;
  width: 100%;
  overflow-x: auto;
}
.tab-inner {
  height: 3rem;
  overflow-x: auto;
}
.sidebar {
  margin-left:15px;
}
.content{
  display:flex;  
  width:100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem;
}

.arrow-btn:disabled {
  opacity: 0.2;
}

.solid-divider { 
  border-top: 1px solid #eee;
  
}

.footer1 {
  visibility: hidden;
}

.TagC {
  margin-right: 10px ;
}



.TagContainer {
  display: flex;
  gap: 10px;
}



.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mainbar {
  width:80%;
}



.TagC > p {
  cursor: pointer;
}




